<?php
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Resursbank\Core\Block\Adminhtml\System\Config\Methods\Listing;

/** @var Listing $block */
/** @var Escaper $escaper */

if (isset($block)) {
    $methods = $block->getMethods();
}
?>

<?php if (isset($escaper, $block)): ?>
    <?php if (!empty($methods)): ?>
        <table id="rb-methods">
            <thead>
                <tr>
                    <th>
                        <?= $escaper->escapeHtml(__('Name')) ?>
                    </th>
                    <th>
                        <?= $escaper->escapeHtml(__('Min total')) ?>
                    </th>
                    <th>
                        <?= $escaper->escapeHtml(__('Max total')) ?>
                    </th>
                    <th>
                        <?= $escaper->escapeHtml(__('Sort order')) ?>
                    </th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($methods as $method): ?>
                <tr>
                    <td>
                        <?= $escaper->escapeHtml($method->getTitle()) ?>
                    </td>
                    <td>
                        <?= $escaper->escapeHtml($block->getOrderMinTotal($method)) ?>
                    </td>
                    <td>
                        <?= $escaper->escapeHtml($block->getOrderMaxTotal($method)) ?>
                    </td>
                    <td>
                        <?= $escaper->escapeHtml($method->getSortOrder()) ?>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    <?php else: ?>
        <?= $escaper->escapeHtml(__('Payment methods will be displayed when synced.')) ?>
    <?php endif; ?>
<?php endif; ?>
